[submodule "librime"]
	path = rume
	url = /Users/igncp/development/mac-rume/rume
	ignore = dirty
[submodule "plum"]
	path = plum
	url = https://github.com/rime/plum.git
[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/sparkle-project/Sparkle
